	@charset:"utf-8";

/* formataçoes gerais */
body{
	font-family: arial,helvetica;
	background-color: white;
}
p {
	font-size: 18px;
}
/* formatacaos da section top*/

section#top nav{
	background-color: #F0713C;
	padding: 1em;
	height: 6.2em;
}
section#top nav ul li a{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
section#top nav ul li:nth-child(2){
	border-left: 1px solid #000000;

}


/* formatacaos da section apresentacao*/
section#apresentacao{
	padding-top: 3em;
	height: 
}
h3 {
	color: #000000;
	padding-left: 1em;	
}
h5 {
	color: #000000;
}



/* formatacaos da section Receitas*/
section#receitas{
	padding-top: 1em;
}

	

/* formatacaos da section apresentacao*/
section#receitaFuba{
	padding-top: 5em;
}


/* formatacaos da section form (LOGIN/CADASTRO*/
section.form{
	margin-top: 80px;
}
section#login{
	height: 590px;
}


/*formatacao das redes sociais */
div#social ul li{
	width:  32px; height: 32px;
	float: left;
	margin-right: 15px;
}
div#social ul li a{
	background-image: url('../imagens/sprite-social.png');
	display: block;
	height: 100%;
	text-indent: -99999em;
}
div#social ul li:nth-child(1) a{background-position: 0 0;}
div#social ul li:nth-child(2) a{background-position: -32px 0;}
div#social ul li:nth-child(3) a{background-position: -64px 0;}
div#social ul li:nth-child(4) a{background-position: -96px 0;}
div#social ul li:nth-child(5) a{background-position: -128px 0;}

div#social ul li:nth-child(1) a:hover{background-position: 0 -32px;}
div#social ul li:nth-child(2) a:hover{background-position: -32px -32px;}
div#social ul li:nth-child(3) a:hover{background-position: -64px -32px;}
div#social ul li:nth-child(4) a:hover{background-position: -96px -32px;}
div#social ul li:nth-child(5) a:hover{background-position: -128px -32px;}



/* formatacaos de id's*/
#imgBolos {
	margin-top: 1em;
	width: 1175.3px;
	height: 450px;
}
#imgFuba{
	position: relative;
	margin-left: 1em;
    margin-top: 1em;
}
#imgMandioca{
	position: relative;
	height: 450px;
}
#imgCenoura{
	position: relative;
	height: 450px;
}
#imgChocolate{
	position: relative;
	height: 450px;
}
#imgBanana{
	position: relative;
	height: 450px;
}





/* formatacaos de classes*/
.page-footer{
	background-color: #F0713C;
}
.page-footer label{
	color:#000000;
}
.page-footer .footer-copyright{
	background-color: rgba(51, 51, 51, 0.4);
}

.btn-large {
	background-color: #000000;
	height: 45px;
}

.card .card-action a{
	color: #0277bd!important;
}
.olAction li{

	font-size: 18px;
}

.parag {
	padding-left: 2em;
	font-size: 23px;
}
div #card-action {
    background-color: #000000;
    width: 100%;
 }
 .logo{

 	width: 150px;
 	margin-bottom: 4px;

 }
